<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KeKitaPrintBridge"
        android:networkSecurityConfig="@xml/network_security_config">

        <!-- MAIN Activity -->
        <activity
            android:name=".Activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity.WizardActivity"
            android:exported="true" />

        <activity
            android:name=".Activity.BluetoothPickerActivity"
            android:exported="true" />

        <activity
            android:name=".Activity.SettingsActivity"
            android:exported="true" />

        <activity
            android:name="devyana.kekita.printbridge.Activity.TestPrintActivity"
            android:exported="true" />

        <!-- Service: foreground, beri tipe connectedDevice untuk Android 12+ / 34+ -->
        <service
            android:name=".Printer.PrinterService"
            android:exported="false"
            android:foregroundServiceType="connectedDevice" />

    </application>

</manifest>